#map  {
    height: 300px;
    width: 40%;
    float: right;
    border-width: 10px;
}
.city-name, .covid {
    text-align: center;    
}
.covid-cases {
    margin-top: 100px;
}
/* Aligning Current Temp and Currency in the center of the map */
.col-1 {
    margin-top: 80px;
    margin-bottom: 70px;
}
.current, .currency {
    text-align: center;
    margin-top: 5px;
}
.uk-form-width-medium {
    width: 240px;
}
h1 {
    margin-bottom: 20px;
}
h2 {
    text-align: center;
}
h3 {
    margin-top: 5px;
}
html,
        body {
            height: 100%;
            margin: 0;
            background-color: rgb(85, 93, 104);
        }

        #box {
            display: flex;
            flex-flow: column;
            height: 100%;
        }

        header {
            flex: 0 1 auto;
        }

        #content {
            flex: 1 1 auto;
        }

        footer {
            flex: 0 1 auto;
        }

/* Media Queries for Phone Responsivity */
@media screen and (max-width: 660px) {
    #map {
        height: 250px;
        width: 100%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        border-width: 3px;
        margin-bottom: 15px;
    } 
    h3 {
        font-size: 16px;
    }
    h1 {
        margin-bottom: 15px;
            
    }
    h2 {
        margin-top: 0px;
        font-size: 25px;
    }
    .covid-cases {
        margin-top: 20px;
    }
    .col-1 {
        margin-bottom: 30px;
    }
}

/* frontpage */
.frontpage {
    background-image: url(http://media.bom.gov.au/social/upload/images/iStock-blue-sea-resize.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.frontcontent {
    background:transparent;
    width: 50%;
    padding: 20px;
    margin: 100px auto;
    border-radius: 20px;
}

.fronth2 {
    color:black;
    font-size: 50px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.frontp {
    font-size: 25px;
    color:black;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fronta {
    border: solid black;
    width: 50%;
    background-color:rgb(85, 93, 104);
    border-radius: 10px;
    color:black;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    margin-left: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
}

/* Media Queries for Phone Responsivity - front page */
/* Commented out while page being updated */
/* @media screen and (max-width: 660px) {
    .frontp {
    font-size: 18px;
    }
    .frontcontent {
        width: 70%;
    }
} */